.row.mb-3.headercontent
  .col-1
    = link_to administration_path, method: 'get' do
      = image_tag 'izquierda.svg'
.row.headercontent
  .col-3
    = image_tag ('pop.svg'), heigth: '200px', width:'200px', class: ''
  .col-9
    .row.contenttitle.d-flex.justify-content-center.mb-2
      Gestión de Género Musical
    .row.contenttext.text-muted
      En esta sección podras agregar, editar y/o eliminar géneros musicales.
    - if @genres.present?
      .row.signindiv.mt-3
        .col.d-flex.justify-content-end
          = link_to new_genre_path, method: 'get', class: 'btn', id: 'signinbutton' do
            Agregar Genero musical
#lineaseparadora.mt-2
  %hr
- if @genres.present?
  .row.mt-3.justify-content-center.bodycontent.mb-5
    .col-6
      %table{class: 'table table-hover table-bordered', id: 'genreborder'}
        %thead.text-center
          %tr
            %th{colspan: '2'} Géneros Musicales Registrados
        %tbody.text-center
          - @genres.each do |genre|
            %tr
              %td= genre.name
              %td.dropdown.dropright
                %button#dropdownMenuButton.btn{type: 'button', 'data-toggle':"dropdown", 'aria-haspopup': "true", 'aria-expanded': "false"}
                  = image_tag 'menu.svg'
                .dropdown-menu#dropdownmenu{"aria-labelledby" => "dropdownMenuButton"}
                  .dropdown-item#dropdownmenuitem
                    = link_to edit_genre_path(genre.id), class: '', id: 'optionbutton' do
                      .row
                        .col-3
                          = image_tag 'pencil.svg'
                        .col-9
                          Editar
                  .dropdown-item#dropdownmenuitem
                    = link_to genre_path(genre.id), method: 'delete', data: {confirm: '¿Esta seguro de eliminar este género?'}, class: '', id: 'optionbutton' do
                      .row
                        .col-3
                          = image_tag 'bin.svg'
                        .col-9
                          Eliminar
- else
  .row.bodycontent
    .col-12
      .row.justify-content-center.mt-5
        = link_to new_genre_path, method: 'get' do
          = image_tag 'añadirpago.svg'
      .row.justify-content-center
        = link_to new_genre_path, method: 'get', id: 'forgot-password' do
          Presiona para agregar un nuevo género musical
