.container.mt-5
  %h2{class: 'text-center'} Registro de Usuario
  = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    = render 'shared/alert' if (devise_error_messages!.present?)
    .form-group
      .row.justify-content-center
        .col-7
          = f.label :email, 'Correo electrónico'
          = f.email_field :email, class: 'form-control', autofocus: true, autocomplete: "email"
    .form-group
      .row.justify-content-center
        .col-7
          = f.label :password,'Contraseña'
          - if @minimum_password_length
            (mínimo #{@minimum_password_length} caracteres)
          = f.password_field :password, class: 'form-control', autocomplete: "new-password"
    .form-group
      .row.justify-content-center
        .col-7
          = f.label :password_confirmation,'Repetir contraseña'
          = f.password_field :password_confirmation, class: 'form-control', autocomplete: "new-password"
    / .field
    /   = f.label :role
    /   %br/
    /   /= f.select :role, User.roles.keys
    /   %label
    /     = f.radio_button :role, :regular
    /     Regular
    /   %label
    /     = f.radio_button :role, :admin
    /     Administrador
    .actions.text-center
      .form-group
        .row.justify-content-center
          .col-4
            = f.submit "Registrarse", class: 'btn btn-block', id: 'form-user-button'
      /= render "devise/shared/links"
