%h1 ¡Pago de Suscripción Recibida!

%h4= "Ha recibido el pago de #{@user.email} "
%p Verifique el mismo a traves del siguiente link para verificar y procesar el mismo.
%p= = link_to 'Verificar Pagos', payments_pending_path, target: '_blank'
