-# ", find me in app/views/user_mailer/notify.html.haml"
%h1 ¡Tu Suscripción ha sido confirmada Satisfactoriamente!

%h3
  = "Hola #{@user.email}"

%p A partir de este momento y por 30 días continuos tendrás los siguientes beneficios:

%ul{class: 'list-group'}
  %li{class: 'list-group-item'} Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laudantium, exercitationem porro! Dolor, neque? Necessitatibus vitae facilis incidunt fugiat?
  %li{class: 'list-group-item'} Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum eveniet et fugiat atque itaque maxime quibusdam reiciendis accusantium! Quisquam, excepturi?
  %li{class: 'list-group-item'} Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis accusantium quis, nobis placeat quaerat autem voluptatem consectetur eaque quo. Debitis.
  %li{class: 'list-group-item'} Lorem ipsum dolor sit, amet consectetur adipisicing elit. Earum possimus quia ab veniam quod consectetur illum architecto optio non aliquid!

%h2 ¡Gracias por preferirnos!
%h4 Monitor Radial
