.row.headercontent
  .col-3.mt-2
    = image_tag 'admin.svg'
  .col-9
    .row.contenttitle.d-flex.justify-content-center.mb-2
      Gestión del sistema
    .row.contenttext.text-muted
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
#lineaseparadora.mt-2
  %hr
.row.mt-5.bodycontent
  .col-3
    = link_to new_song_path, method: 'get', id: 'linksections' do
      .card#card-admin.d-flex.d-flex
        .card-body.align-items-center.d-flex.justify-content-center.align-items-center.d-flex.justify-content-center
          .row
            .col
              %h5{class: 'card-title text-center font-italic '} Agregar Lista de Canciones
  .col-3
    = link_to broadcasters_manage_path, method: 'get', id: 'linksections' do
      .card#card-admin.d-flex
        .card-body.align-items-center.d-flex.justify-content-center
          .row
            .col
              %h5{class: 'card-title text-center font-italic'} Gestionar Emisoras
  .col-3
    = link_to billboard_top_100_path, method: 'get', id: 'linksections' do
      .card#card-admin.d-flex
        .card-body.align-items-center.d-flex.justify-content-center
          .row
            .col
              %h5{class: 'card-title text-center font-italic'} Gestionar Artistas
  .col-3
    = link_to genres_path, method: 'get', id: 'linksections' do
      .card#card-admin.d-flex
        .card-body.align-items-center.d-flex.justify-content-center
          .row
            .col
              %h5{class: 'card-title text-center font-italic'} Gestionar Generos Musicales
.row.mt-4.bodycontent
  .col-3
    = link_to administration_users_path, method: 'get', id: 'linksections' do
      .card#card-admin.d-flex
        .card-body.align-items-center.d-flex.justify-content-center
          .row
            .col
              %h5{class: 'card-title text-center font-italic'} Gestionar Usuarios
