.row.mb-3.headercontent
  .col-1
    = link_to administration_path, method: 'get' do
      = image_tag 'izquierda.svg'
.row.headercontent
  .col-3
    = image_tag 'user.svg'
  .col-9
    .row.contenttitle.d-flex.justify-content-center.mb-2
      Gestión de usuarios
    .row.contenttext.text-muted
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    .row.signindiv.mt-2
      .col.d-flex.justify-content-end
        = link_to  payments_pending_path, method: 'get', class: 'btn', id: 'signinbutton' do
          Verificar Pagos
#lineaseparadora.mt-2
  %hr
.row.mt-4.d-flex.justify-content-center.bodycontent.mb-5
  .col-10
    %table#tablausers
      %thead{id: 'headtabla'}
        %tr
          %th
            .row.d-flex.justify-content-center
              E-MAIL
          %th
            .row.d-flex.justify-content-center
              ESTADO
          %th
            .row.d-flex.justify-content-center
              PAGOS           
      %tbody
        - @users.each do |user|
          %tr
            %td{id: 'campotabla'} 
              .row.d-flex.justify-content-center
                = user.email            
            %td{id: 'campotabla'} 
              - if user.status == 'activo' 
                .row.d-flex.justify-content-around
                  = image_tag 'greencircle.svg'
                  .userstatusactive.text-capitalize= user.status                         
              - else
                .row.d-flex.justify-content-around
                  = image_tag 'yellowcircle.svg'
                  .userstatusinactive.text-capitalize= user.status  
            %td{id: 'campotabla'} 
              .row.d-flex.justify-content-center
                = link_to  user_payments_path(user.id) do
                  = image_tag 'tarjeta2.svg'