.container.mt-5
  %h2{class: 'text-center'} Actualiza tu Contraseña
  = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
    = render 'shared/alert' if (devise_error_messages!.present?)
    = f.hidden_field :reset_password_token
    .form-group
      .row.justify-content-center
        .col-7
          = f.label :password, "Nueva Contraseña"
          %br/
          - if @minimum_password_length
            %em
              (mínimo #{@minimum_password_length} caracteres)
            %br/
          = f.password_field :password, autofocus: true, autocomplete: "new-password", class: 'form-control'
    .form-group
      .row.justify-content-center
        .col-7
          = f.label :password_confirmation, "Confirmar nueva contraseña"
          %br/
          = f.password_field :password_confirmation, autocomplete: "off", class: 'form-control'
    .actions.text-center
      .form-group
        .row.justify-content-center
          .col-4
            = f.submit "Cambiar mi contraseña", class: 'btn btn-block', id: 'form-user-button'
  -# = render "devise/shared/links"
