.row.headercontent
  .col-3
    = image_tag 'radio.svg'
  .col-9
    .row.contenttitle.d-flex.justify-content-center.mb-2
      Dashboard de la Cartelera Semanal
    .row.contenttext.text-muted
      Esta clasificación se basa en la difusión recibida por cada título seleccionado en 22 estaciones de radio, distribuidas entre Caracas, el centro, oriente y occidente del país, tomando en cuenta la audiencia que cada una de ellas tiene en los sondeos más recientes. Margen de Error ± 3%.
#lineaseparadora.mt-2
  %hr
.row.mt-4.bodycontent
  .col-3
    = link_to billboard_top_100_path, id: 'linksections' do
      .card#card-background.first-img
        = image_tag ('back-chart-1.png'), class: 'card-img-top top', height: '150px', width: '75px'
        .overlay
          = image_tag ('top100.svg'), class: 'second-img', height: '150px', width: '200px'
        %span{class: 'card-text text-center'}Top 100
  .col-3
    = link_to billboard_top_latino_path, id: 'linksections' do
      .card#card-background.first-img
        = image_tag ('back-chart-2.png'), class: 'card-img-top top', height: '150px', width: '75px'
        .overlay
          = image_tag ('compact-disc.svg'), class: 'second-img', height: '150px', width: '200px'
        %span{class: 'card-text text-center'}Top Latino
  .col-3
    = link_to billboard_top_tradicional_path, id: 'linksections' do
      .card#card-background.first-img
        = image_tag ('back-chart-3.png'), class: 'card-img-top top', height: '150px', width: '75px'
        .overlay
          = image_tag ('music-player.svg'), class: 'second-img', height: '150px', width: '200px'
        %span{class: 'card-text text-center'}Top Tradicional
  .col-3
    = link_to billboard_top_balada_path, id: 'linksections' do
      .card#card-background.first-img
        = image_tag ('back-chart-4.png'), class: 'card-img-top top', height: '150px', width: '75px'
        .overlay
          = image_tag ('karaoke.svg'), class: 'second-img', height: '150px', width: '200px'
        %span{class: 'card-text text-center'}Top Balada
.row.mt-4.bodycontent.mb-5
  .col-3
    = link_to billboard_top_salsa_path, id: 'linksections' do
      .card#card-background.first-img
        = image_tag ('back-chart-5.png'), class: 'card-img-top top', height: '150px', width: '75px'
        .overlay
          = image_tag ('dancing.svg'), class: 'second-img', height: '150px', width: '200px'
        %span{class: 'card-text text-center'}Top Salsa
  .col-3
    = link_to billboard_top_pop_path, id: 'linksections' do
      .card#card-background.first-img
        = image_tag ('back-chart-6.png'), class: 'card-img-top top', height: '150px', width: '75px'
        .overlay
          = image_tag ('rock-and-roll.svg'), class: 'second-img', height: '150px', width: '200px'
        %span{class: 'card-text text-center'}Top Pop
  .col-3
    = link_to billboard_top_rock_path, id: 'linksections' do
      .card#card-background.first-img
        = image_tag ('back-chart-7.png'), class: 'card-img-top top', height: '150px', width: '75px'
        .overlay
          = image_tag ('shirt.svg'), class: 'second-img', height: '150px', width: '200px'
        %span{class: 'card-text text-center'}Top Rock
  .col-3
    = link_to billboard_top_emisoras_path, id: 'linksections' do
      .card#card-background.first-img
        = image_tag ('back-chart-8.png'), class: 'card-img-top top', height: '150px', width: '75px'
        .overlay
          = image_tag ('radio-antenna.svg'), class: 'second-img', height: '150px', width: '200px'
        %span{class: 'card-text text-center'}Top Emisoras
