.row.mb-3.headercontent
  .col-1
    = link_to broadcasters_manage_path, method: 'get' do
      = image_tag 'izquierda.svg'
.row.headercontent
  .container.mt-5
    %h2{class: 'text-center'} Agregar Emisora Radial
    = form_with(model: @broadcaster, local: true, id: "radioform" ) do |form|
      - if @broadcaster.errors.any?
        #error_explanation.alert.alert-danger.alert-dismissible.fade.show.font-happy-alert
          %h4= "#{pluralize(@broadcaster.errors.count, "error")} al intentar guardar la emisora:"
          %ul
            - @broadcaster.errors.full_messages.each do |message|
              %li= message
          %button.close{ 'data-dismiss': 'alert' }
            %span x
      .row.form-group.justify-content-center
        .col-5
          = form.label :name, 'Nombre'
          = form.text_field :name, autofocus: true, autocomplete: "nombre", class: 'form-control', required: 'true'
        .col-5
          = form.label :ref, 'Referencia'
          = form.text_field :ref, autofocus: true, autocomplete: "referencia", class: 'form-control', required: 'true'
      .row.form-group.justify-content-center
        .col-5
          = form.label :email, 'E-mail'
          = form.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control', required: 'true'
        .col-5
          = form.label :phone, 'Teléfono'
          = form.text_field :phone, autofocus: true, autocomplete: "teléfono", class: 'form-control', required: 'true'
      .row.form-group.justify-content-center
        .col-5
          = form.label :location, 'Ubicación'
          = form.text_field :location, autofocus: true, autocomplete: "ubicación", class: 'form-control', required: 'true'
        .col-5
          = form.label :contact_name, 'Responsable'
          = form.text_field :contact_name, autofocus: true, autocomplete: "responsable", class: 'form-control', required: 'true'
      .row.form-group.justify-content-center.mt-5
        .col-12
          .actions.text-center
            = form.submit "Guardar", class: 'btn', id: 'form-user-button'
