.row
  .col-12
    .row.justify-content-center.mb-3.mt-3
      .col-10
        .row
          Estimado administrador, para añadir una lista de canciones sonadas en el dia en una de las emisoras analizadas, debes adjuntar un archivo en formato .txt con el siguiente formato:
    .row.justify-content-center
      = image_tag ('añadirpago.svg'), data: { target: '#modalpagos', toggle: 'modal', id: 'imagepointer' }
    .row.justify-content-center.mt-3
      %button.btn#form-user-button{ data: { target: '#modalpagos', toggle: 'modal' } }
        Quiero enviar una lista!
    #modalpagos.modal.fade.mt-5
      .modal-dialog
        .modal-content#contenidodelmodal
          .modal-header.text-center.shadow.p-3.rounded.mb-2
            %h4.modal-title.white-text.w-100.font-weight-bold.py-2 Nueva Lista
            %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
              %span.white-text{"aria-hidden" => "true"} ×
          .modal-body
            = form_with(model: @datalist, local: true, id: "listform") do |form|
              .field
                .row.form-group
                  .col-sm-12.col-form-label
                    .font-roboto-form= form.label :list, 'Lista:'
                    = form.file_field :list, class: 'dropify'
                = form.hidden_field :list_date, value: Time.now.strftime('%Y-%m-%d')
              .actions
                .row.mt-4
                  .col.text-center
                    = form.submit("CARGAR",:class => "btn btn-lg", :id => "form-user-button")

