.container
  .row.mb-5.headercontent
    .col-1
      = link_to genres_path, method: 'get' do
        = image_tag 'izquierda.svg'
  .row.bodycontent
    .col.mt-5
      %h1.text-center Agregar Género Musical
      %hr
      #notice= render 'shared/alertsuccess' if (flash[:notice])
      #error= render 'shared/alerterror' if (flash[:alert])
      = form_with(model: @genre, local: true, id: "genreform" ) do |form|
        - if @genre.errors.any?
          #error_explanation.alert.alert-danger.alert-dismissible.fade.show.font-happy-alert
            %h4= "#{pluralize(@genre.errors.count, "error")} al intentar guardar el género musical:"
            %ul
              - @genre.errors.full_messages.each do |message|
                %li= message
            %button.close{ 'data-dismiss': 'alert' }
              %span x
        .form-group
          .row.justify-content-center
            .col-6
              = form.label :name, 'Nombre del género:'
              = form.text_field :name, class:'form-control', required: 'true'
        .actions.text-center
          = form.submit "Guardar", class: 'btn', id: 'form-user-button'
