-if @user.payments.present?
  -if (@user.payments.last.paid_out == 'pendiente')
    .row.justify-content-center.bodycontent
      .col-6
        = image_tag 'checking.svg', height: '350px', width: '500px', class: 'processing-paid'
    .row.mt-3.bodycontent
      .col
        %h5.font-italic Su pago se encuentra en proceso de verificación, una vez sea confirmado, recibirá una notificación vía correo electrónico y podrá disfrutar de nuestros servicios durante un lapso de 30 días continuos a partir del momento de verificación del pago.
  -else
    .row.bodycontent
      .col-12
        = render 'shared/new_payment_form', locals: {user: @user, payment: @payment}
-else
  .row.bodycontent
    .col-12
      = render 'shared/new_payment_form', locals: {user: @user, payment: @payment}
