.row.justify-content-center.mb-3.mt-3
  .col-10
    .row
      Estimado usuario, para obtener acceso a las estadísticas analizadas por nuestro sistema, debe realizar una transferencia bancaria a la siguiente cuenta:
    .card#statsrectangleadmin.mb-3
      .row.mb-2
        .col-6
          %ul
            %li.lipayments
              %span
                Banco: Banesco
            %li.lipayments
              %span
                Número de Cuenta: 0101-0101-0101-0101-0101
            %li.lipayments
              %span
                Titular de la cuenta: Monitor Radial
            %li.lipayments
              %span
                RIF:  J-11111111
            %li.lipayments
              %span
                Tipo de Cuenta: Corriente
        .col-6.align-self-center#paymentamount
          Monto: 1000 Bs.
    .row
      Al realizar la transferencia utilice el formulario de envio de recibos de pago:
.row.justify-content-center
  = image_tag ('añadirpago.svg'), data: { target: '#modalpagos', toggle: 'modal', id: 'imagepointer' }
.row.justify-content-center.mt-3
  %button.btn#form-user-button{ data: { target: '#modalpagos', toggle: 'modal' } }
    Quiero enviar un recibo!
#modalpagos.modal.fade.mt-5
  .modal-dialog
    .modal-content#contenidodelmodal
      .modal-header.text-center.shadow.p-3.rounded.mb-2
        %h4.modal-title.white-text.w-100.font-weight-bold.py-2 Suscribirse
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span.white-text{"aria-hidden" => "true"} ×
      .modal-body
        = form_with(model: [:user, @payment], local: true, id: "paymentform") do |form|
          .field
            .row.form-group
              .col-sm-12.col-form-label
                .font-roboto-form= form.label :invoice, 'Recibo:'
                = form.file_field :invoice, class: 'dropify'
            = form.hidden_field :paid_out, value: 'pendiente'
          .actions
            .row.mt-4
              .col.text-center
                = form.submit("ENVIAR",:class => "btn", :id => "form-user-button")
