.sidebarcontent.col-2
  .row.logodiv.mt-5
    .col
      .row
        .col.d-flex.justify-content-center.monitor
          = image_tag 'Monitor.svg'
      .row
        .col.d-flex.justify-content-center.radial.mt-2
          = image_tag 'Radial.svg'
  .row.sidebarlistdiv
    %ul.__sidebarlist.mt-5.mb-5
      - if current_user.present?
        %li.mb-3
          .row#useremail.d-flex.justify-content-center
            .font-italic Bienvenido
          .row#useremail.d-flex.justify-content-center
            .font-italic.text-capitalize= current_user.email.split('@')[0]
      - if controller_name != 'home'
        %li.__sidebarlink
          = link_to root_path, method: 'get', id: '__linksections' do
            = image_tag 'homeblanco.svg'
            Inicio
      - else
        %li.__sidebarlinkselected
          #__linksections
            = image_tag 'homeblanco.svg'
            Inicio
      %li.__sidebarlink
        = link_to billboard_path, method: 'get', id: '__linksections' do
          = image_tag 'carteleras.svg'
          Carteleras
      - if current_user.present? && current_user.role == 'admin'
        - if controller_name == 'admins' || (controller_name == 'broadcasters' && action_name == 'new') || (controller_name == 'broadcasters' && action_name == 'edit') || (controller_name == 'broadcasters' && action_name == 'manage')
          %li.__sidebarlinkselected
            #__linksections
              = image_tag 'adminsidebar.svg'
              Administrar
        - else
          %li.__sidebarlink
            = link_to administration_path, method: 'get', id: '__linksections' do
              = image_tag 'adminsidebar.svg'
              Administrar
      -if current_user.present? && current_user.role == 'regular'
        - if controller_name != 'payments'
          %li.__sidebarlink
            = link_to new_user_payment_path(user_id: current_user.id), method: 'get', id: '__linksections' do
              = image_tag 'usersidebar.svg'
              Mi cuenta
        - else
          %li.__sidebarlinkselected
            #__linksections
              = image_tag 'usersidebar.svg'
              Mi cuenta
      -if current_user.blank?
        -if controller_name != 'subscription'
          %li.__sidebarlink
            = link_to subscriptions_path, method: 'get', id: '__linksections' do
              = image_tag 'subscripcion.svg'
              Suscripción
        - else
          %li.__sidebarlinkselected
            #__linksections
              = image_tag 'subscripcion.svg'
              Suscripción
      - if controller_name == 'broadcasters' && action_name == 'index'
        %li.__sidebarlinkselected
          #__linksections
            = image_tag 'emisoras.svg'
            Emisoras
      - else
        %li.__sidebarlink
          = link_to broadcasters_path, method: 'get', id: '__linksections' do
            = image_tag 'emisoras.svg'
            Emisoras
      %li.__sidebarlink
        = link_to contact_path, method: 'get', id: '__linksections' do
          = image_tag 'phone.svg'
          Contacto
  -if (controller_name != 'passwords') && (controller_name != 'sessions')
    - if current_user.blank?
      .row.signindiv.mt-3
        .col.d-flex.justify-content-center
          = link_to user_session_path, method: 'get', class: 'btn', id: 'signinbutton' do
            Iniciar sesión
    - else
      .row.signindiv.mt-3
        .col.d-flex.justify-content-center
          = link_to destroy_user_session_path, method: 'delete', class: 'btn', id: 'signinbutton' do
            Cerrar sesión
