.col-12
  .row.headercontent
    .col-3
      = image_tag 'podcast.svg'
    .col-9
      .row.suscriptiontitle.mb-2
        Suscripción en Monitor Radial
      .row.contenttext.text-muted
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  #lineaseparadora.mt-2
    %hr  
  .row.bodycontent
    .col-12
      .card#inforectangle.mb-4.mt-5.contenttext
        %ul
          %li.mb-4
            Top 100: Muestra las 100 canciones más sonadas en las emisoras monitoreadas durante la última semana, señala la posición que tiene en Esta Semana, la posición de la Semana Anterior, el número de Semanas en Cartelera, título, intérprete y sello disquero. Se actualiza cada jueves después de las 12:00 M.
          %li
            Latin40: Una observación particular sobre la misma muestra anterior aplicada sólo al producto en lengua hispana producido fuera del territorio venezolano. Se actualiza cada jueves después de las 12:00M.
  .row
    .col.d-flex.justify-content-center
      -if current_user.present? && current_user.role == 'regular'
        = link_to "Enviar Pago", new_user_payment_path(user_id: current_user.id), class: 'btn', id: 'form-user-button'
      -else
        = link_to "Registrarse", new_user_registration_path, class: 'btn', id: 'form-user-button'
