.container
  .row.headercontent
    .col-3
      = image_tag 'radio.svg'
    .col-9
      .row.contenttitle.d-flex.justify-content-center.mb-2
        Top 40
      .row.contenttext.text-muted
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  #lineaseparadora.mt-2
    %hr
  .row.mt-5.d-flex.justify-content-center.bodycontent.mb-5
    .col-8
      .card#statsrectangle
        .cardheader
          .row.mb-4
            .col-1.thisweekheader.d-flex.align-items-center
              ES
            .col-1.lastweekheader.d-flex.align-items-center
              SA
            .col-1.dashboardweeksheader.d-flex.align-items-center
              SC
            .col-1.positionchangeheader.d-flex.align-items-center
            .col-8.title-artist-stampheader
              TÍTULO, INTÉRPRETE, SELLO
        .card-item
          .row
            .col-1.thisweek.d-flex.align-items-center
              1
            .col-1.lastweek.d-flex.align-items-center
              119
            .col-1.dashboardweeks.d-flex.align-items-center
              118
            .col-1.positionchange.d-flex.align-items-center
              = image_tag 'rankingup.svg'
            .col-8.title-artist-stamp
              .row
                .col.artistname
                  OMAR ENRIQUE
              .row
                .col
                  Como has podido olvidar,   Mshow
        .card-item
          .row
            .col-1.thisweek.d-flex.align-items-center
              2
            .col-1.lastweek.d-flex.align-items-center
              18
            .col-1.dashboardweeks.d-flex.align-items-center
              14
            .col-1.positionchange.d-flex.align-items-center
              = image_tag 'rankingdown.svg'
            .col-8.title-artist-stamp
              .row
                .col.artistname
                  MELODIA P., SHARLENE Y M. LA P
              .row
                .col
                  La cadera,   Oye
