= flash[:notice]
%div
  = form_with(url: import_songs_path, local: true, multipart:true, id: "songlistform") do |form|
    .field
      .row.form-group
        .col-sm-12.col-form-label
          .font-roboto-form= form.label :file, 'Lista de canciones:'
          = form.file_field :file, class: 'dropify'
      = form.hidden_field :fecha, value: Time.now.strftime('%Y-%m-%d')
    .actions
      .row.mt-4
        .col.text-center
          = form.submit("CARGAR",:class => "btn btn-lg", :id => "form-user-button")