.row.headercontent
  .col-1
    = link_to administration_path, method: 'get' do
      = image_tag 'izquierda.svg'
.row.headercontent
  .col-3
    = image_tag 'radio.svg'
  .col-9
    .row.contenttitle.d-flex.justify-content-center.mb-2
      Nueva lista de canciones
    .row.contenttext.text-muted
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
#lineaseparadora.mt-2
  %hr
.row.bodycontent
  .col-12
    .row.justify-content-center.mb-3.mt-3
      .col-10
        .row
          Estimado administrador, para añadir una lista de canciones sonadas en el dia en una de las emisoras analizadas, debes adjuntar un archivo en formato .txt con el siguiente formato:
    .row.justify-content-center
      = image_tag ('añadirpago.svg'), data: { target: '#modalpagos', toggle: 'modal', id: 'imagepointer' }
    .row.justify-content-center.mt-3
      %button.btn#form-user-button{ data: { target: '#modalpagos', toggle: 'modal' } }
        Quiero enviar una nueva lista!
    #modalpagos.modal.fade.mt-5
      .modal-dialog
        .modal-content#contenidodelmodal
          .modal-header.text-center.shadow.p-3.rounded.mb-2
            %h4.modal-title.white-text.w-100.font-weight-bold.py-2 Nueva Lista
            %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
              %span.white-text{"aria-hidden" => "true"} ×
          .modal-body
            = form_with(url: songs_path, local: true, multipart:true, id: "songlistform") do |form|
              .field
                .row.form-group
                  .col-sm-12.col-form-label
                    .font-roboto-form= form.label :file, 'Lista de canciones:'
                    = form.file_field :file, class: 'dropify'
                = form.hidden_field :fecha, value: Time.now.strftime('%Y-%m-%d')
              .actions
                .row.mt-4
                  .col.text-center
                    = form.submit("CARGAR",:class => "btn btn-lg", :id => "form-user-button")