.row.mb-3.headercontent
  .col-1
    = link_to user_payments_path(@payment.user_id), method: 'get' do
      = image_tag 'izquierda.svg'
.row.headercontent
  .col-3
    = image_tag 'user.svg'
  .col-9
    .row.contenttitle.d-flex.justify-content-center.mb-2
      Procesar pago seleccionado
    .row.contenttext.text-muted
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
= form_with(model: [@user, @payment], local: true) do |form|
  .row.form-group.justify-content-center.mt-5
    .col-6.form-label
      = form.label :paid_out, 'Estatus del Pago'
      = form.select :paid_out, ['procesado'], {include_blank: 'Seleccione'}, {class:'form-control custom-select text-capitalize'} #Payment.paid_outs.keys
      = form.fields_for :user, @user do |userform|
        = userform.hidden_field :status, value: 'activo'
  .row.form-group.justify-content-center
    .col-6.form-label
      .actions
        = form.submit 'Procesar Pago', class: 'btn', id: 'form-user-button'
