.row.mb-3.headercontent
  .col-1
    = link_to administration_users_path, method: 'get' do
      = image_tag 'izquierda.svg'
.row.headercontent
  .col-3
    = image_tag 'user.svg'
  .col-9
    .row.contenttitle.d-flex.justify-content-center.mb-2
      Verificación de Pagos por Usuario
    .row.contenttext.text-muted
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
#lineaseparadora.mt-2
%hr
-if @payments.present?
  .row.mt-3.justify-content-center.bodycontent.mb-5
    .col-7
      %table{class: 'table table-hover table-bordered', id: 'genreborder'}
        %thead.text-center
          %tr
            %th{colspan: '4'} Pagos realizados por el usuario
        %tbody.text-center
          - @payments.each do |payment|
            %tr
              %td= payment.user.email
              %td{class:'text-capitalize'}= payment.paid_out
              %td= link_to 'Ver Pago',url_for(payment.invoice), target: "_blank", id: 'see-payment'
              -# -if payment.paid_out == 'pendiente'
              -#   %td= link_to 'Procesar', edit_user_payment_path(payment.user_id, payment.id), class:'btn', id: 'form-user-button'
- else
  .row.mt-5.justify-content-center.bodycontent
    .col-6
      .row
        = image_tag 'credit_card.svg', height: '350px', width: '500px', class: 'processing-paid'
  .row.mt-3.justify-content-center.bodycontent.mb-5
    .col-5
      %h3{class: 'font-italic text-center'} No Existen Pagos Realizados por el Usuario
