// Place all the styles related to the admins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$purpura: #8343FF;
$negroclaro: #181F29;
$negrooscuro: #191A1E;

#card-admin {
  background-color: $purpura;
  height: 100%;
}

#statsrectangleadmin {
  background-color: rgba(24, 31, 41, 0.5);
  border: 1px solid #8343FF;
  padding-top: 2%;
  border-radius: 0%;
  -webkit-border-radius: 0%;
  -moz-border-radius: 0%;
  -ms-border-radius: 0%;
  -o-border-radius: 0%;
}

#headerbroadcastersadmin {
  padding-right: 5% !important;
  padding-left: 0% !important;

}

#itembroadcastersadmin {
  padding-right: 5% !important;
  padding-left: 0% !important;
}

#statsrectangleusers {
  background-color: rgba(24, 31, 41, 0.5);
  border: 1px solid #8343FF;
  padding-top: 2%;
  border-radius: 0%;
  -webkit-border-radius: 0%;
  -moz-border-radius: 0%;
  -ms-border-radius: 0%;
  -o-border-radius: 0%;
}

#headerbroadcastersusers {
  padding-right: 5% !important;
  padding-left: 0% !important;
}

#itembroadcastersusers {
  padding-right: 5% !important;
  padding-left: 0% !important;
}

#dropdownMenuButton {
  background: none;
  color: white;
}

#dropdownMenuButton:hover {
  background: none;
}

#dropdownmenu {
  background-color: $negroclaro;
  border: 2px solid $purpura;
}


#dropdownmenuitem {
  background-color: $negroclaro;

}

#optionbutton {
  color: white;
  text-decoration: none;
}

#optionbutton:hover {
  color: white;
}

#tablausers {
  color: white;
  background: $negroclaro !important;
  border: solid 2px $purpura;
}

#campotabla {
  background: $negroclaro !important;
  color: white;
  padding-left: 10%;
  padding-right: 10%;
}

#campotabla:hover {
  background: $negrooscuro !important;
}

.dataTables_empty {
  background: $negroclaro !important;
}

#tablausers_length {
  color: white !important;
  select {
   border: 2px solid $purpura !important;
   -webkit-appearance: none;
   -moz-appearance: none;
   background: url('arrowdown.svg') no-repeat;
   background-position: 32px 5px;
   width: 55px;
   text-indent: 0.01px;
   text-overflow: "";
   padding-top: 2%;
   padding-bottom: 2%;
   background-color: white;
   border-radius:    10%;
   -webkit-border-radius:    10%;
   -moz-border-radius:    10%;
   -ms-border-radius:    10%;
   -o-border-radius:    10%;
}
}


#tablausers_filter {
  color: white !important;
  input {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border: 3px solid $purpura;
}
}

#tablausers_info {
  color: white !important;
}

#tablausers_next {
  color: white !important;
  background: $negroclaro !important;
  border: 2px solid $purpura;
  border-radius: 5%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

#tablausers_previous {
  color: white !important;
  background: $negroclaro !important;
  border: 2px solid $purpura;
  border-radius: 5%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

// #headtabla {
//   tr {
//     th{
//       min-width: 200px;
//       max-width: 200px;
//     }
//   }
// }

.userstatusactive {
  color: #009900;
}

.userstatusinactive {
  color: yellow;
}
