/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
	@import "bootstrap";
	@import "dropify";

	html {
		min-height: 100%;
		height: 100%;
	}

	body {
		min-height: 100%;
		height: 100%;
		position: relative;
		background: {image: asset_url("background.jpeg");}
		background-size: 100%;
	}

	$blanco: white;
	$negroclaro: #181F29;
	$negrooscuro: #191A1E;
	$purpura: #8343FF;
	$font-karla: Karla;

	.text-purple{
		color: $purpura;
	}

	.border-custom{
		border-color: $purpura;
	}

	.container {
		min-height: 100%;
		min-width: 100%;
		position: relative;

	}

	.sidebar {
		background: $negroclaro;
		min-height: 100%;
		position: absolute;
		border-right: 2px solid $purpura;
		padding: 0px;
	}

	.sidebarcontent {
		position: fixed;
		padding: 0px;
		padding-right: 2px;
	}
	.logodiv {
		width: 100%;
		margin-left: 0%;
		.monitor {
			color: $blanco;
		}
		.radial {
			color: $purpura;
		}
	}

	.sidebarlistdiv {
		margin-left: 0%;
		width: 100%;

		.__sidebarlist {
			list-style:none;
			margin: 0%;
			padding: 0%;
			width: 100%;

			.__sidebarlink {
					font-family: $font-karla;
					font-size: 1.2rem;
					margin: 0%;
					padding: 0%;
					padding-top: 5%;
					padding-bottom: 5%;

				#__linksections {
					color: $blanco;
					margin-left: 15%;
					text-decoration: none;}
			}

			.__sidebarlinkselected {
				font-family: $font-karla;
				font-size: 1.2rem;
				margin: 0%;
				padding: 0%;
				padding-top: 5%;
				padding-bottom: 5%;
				background: $negrooscuro;

			#__linksections {
				color: $blanco;
				margin-left: 15%;
				text-decoration: none;}
			}
		}
	}

	.signindiv {
	#signinbutton {
    color: white;
    text-decoration: none;
    background: $purpura;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
	}
}

#form-user-button {
	color: white;
	text-decoration: none !important;
	background: $purpura;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
}

	.content {
		margin-top: 3%;
		min-height: 100%;
		position: relative;
		color: white;
	}

	.contentadmin {
		margin-top: 2%;
		min-height: 100%;
		position: relative;
		color: white;
	}
	#useremail{
		font-family: $font-karla;
		font-size: 1.2rem;
		margin: 0%;
		padding: 0%;
		color: $purpura;
		font-weight: bold; }

.animation {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 3;
	background: #0F2027;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to bottom, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to bottom, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.preloader {
	width: 70px;
	height: 70px;
	border: 12px solid white;
	border-top: 12px solid $purpura;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	animation-name: girar;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes girar {
  from {
		transform: rotate(0deg);
  }
  to {
		transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-o-transform: rotate(360deg);
}
}

h6 {
	color: white;
	font-family: $font-karla;
}

.logoanimation {
	padding: 0px;
	margin: 0px;
}

.animationcontent {
	margin-top: 16%;
}

.headercontent {
	padding-left: 2%;
	padding-right: 2%;
}

.bodycontent {
	padding-left: 2%;
	padding-right: 2%;
}

.error {
	color: #d6b534;
}