// Place all the styles related to the billboards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$blanco: white;
$negroclaro: #181F29;
$purpura: #8343FF;

#card-background{
  background-color: $negroclaro;
}

#linksections {
  color: $blanco;
  text-decoration: none;
}

#linksections:hover{
  font-weight: bold;
}

.first-img {
  position: relative;
}

.first-img:hover .overlay {
  opacity: 1;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 88%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: $negroclaro;
}

.second-img {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.text{
	position: absolute;
	top: 75%;
	text-align: center;
}

.top {
  display: block;
  opacity: 0.6;
}
