// Place all the styles related to the datalists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$purpura: #8343FF;

#datalist_list-error {
  margin-top: 20%;
  color: $purpura;
}