// Place all the styles related to the genres controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$purpura: #8343FF;

.table.table-bordered{
  border:2px solid $purpura;
  margin-top:20px;
}
.table.table-bordered > thead > tr > th{
  border:2px solid $purpura;
}
.table.table-bordered > tbody > tr > td{
  border:2px solid $purpura;
}
