.row.headercontent
  .col-3
    = image_tag 'radio.svg'
  .col-9
    .row.contenttitle.d-flex.justify-content-center.mb-2
      Cartelera Top Rock Semanal
    .row.contenttext.text-muted
      Esta clasificación se basa en la difusión recibida por cada título seleccionado en 22 estaciones de radio, distribuidas entre Caracas, el centro, oriente y occidente del país, tomando en cuenta la audiencia que cada una de ellas tiene en los sondeos más recientes. Margen de Error ± 3%.
    .row.justify-content-center
      %small.text-muted
        %strong ES:
        Esta Semana,
        %strong SA:
        Semana Anterior,
        %strong SC:
        Semanas en Cartelera
