.row.headercontent
  .col-3
    = image_tag 'music.svg'
  .col-9
    .row.contenttitle.d-flex.justify-content-center.mb-2
      Emisoras de radio analizadas
    .row.contenttext.text-muted
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
#lineaseparadora.mt-2
  %hr
.row.mt-4.bodycontent.mb-5
  .col-12
    .card#statsrectangleadmin
      .cardheader#headerbroadcastersadmin
        .row.mb-4
          .col-3.thisweekheader.d-flex.align-items-center.justify-content-center
            ESTACIÓN
          .col-1.lastweekheader.d-flex.align-items-center.justify-content-center
            REF.
          .col-2.dashboardweeksheader.d-flex.align-items-center.justify-content-center
            UBICACIÓN
          .col-2.positionchangeheader.d-flex.align-items-center.justify-content-center
            E-MAIL
          .col-2.positionchangeheader.d-flex.align-items-center.justify-content-center
            TELÉFONO
          .col-2.positionchangeheader.d-flex.align-items-center.justify-content-center
            RESPONSABLE
      - @broadcasters.each do |broadcaster|
        .card-item#itembroadcastersadmin
          .row
            .col-3.thisweek.d-flex.align-items-center.justify-content-center
              = broadcaster.name
            .col-1.lastweek.d-flex.align-items-center.justify-content-center
              = broadcaster.ref
            .col-2.dashboardweeks.d-flex.align-items-center.justify-content-center
              = broadcaster.location
            .col-2.positionchange.d-flex.align-items-center.justify-content-center
              = broadcaster.email
            .col-2.positionchange.d-flex.align-items-center.justify-content-center
              = broadcaster.phone
            .col-2.positionchange.d-flex.align-items-center.justify-content-center
              = broadcaster.contact_name