!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no", :name => "viewport"}/
    %title Monitor Radial
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %link{:href => "https://fonts.googleapis.com/css?family=Karla", :rel => "stylesheet"}/
    %link{:href => "https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css", :rel => "stylesheet", :type => "text/css"}/
    %script{:charset => "utf8", :src => "https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js", :type => "text/javascript"}
  %body
    .container
      .row.website
        .col-2.sidebar
          = render 'shared/sidebar', user: current_user
        .col-10.content.offset-2
          #notice= render 'shared/alertsuccess' if (flash[:notice])
          #error= render 'shared/alerterror' if (flash[:alert]) if (controller_name != 'sessions')
          = yield
